<div class="longboxed funfont center">

<h1 class="funfont center">Your Profile</h1>

<h2 class="funfont center"><%= @user.name %></h2><br>
<div class="center">

<img src=<%= @user.image %>></div><br>
<h2 class=funfont><%= link_to "Your Playlists", playlists_path %></h2>
</div>
