@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;

  background-image: url('headphonecat.jpg');
  background-size: cover;


}

.center {
  text-align: center;
}

.well {
  width: 400px;
  height: 200px;
  display: block;
     margin: auto;
     margin-top: 150px;
}

.funfont {
  font-family: 'Pacifico', cursive;
}



.newbox {
    background-color: white;
    width: 700px;
    padding: 10px;
    border: 5px solid gray;
    display: block;
       margin: auto;
       margin-bottom: 50px;
}

.boxed {
  background-color: white;
  width: 400px;
  height: 200px;
  padding: 10px;
  border: 1px solid gray ;
  display: block;
     margin: auto;
  margin-top: 50px
}

.longboxed {
  background-color: white;
  width: 400px;
  min-height: 100px;
  overflow: hidden;
  padding: 10px;
  border: 1px solid gray ;
  display: block;
     margin: auto;
  margin-top: 50px
}

.box-centerside  {
      margin: auto;
      background-color: white;
      float:left;
      min-height:100px;
      width:260px;
      padding: 10px;
      border: 1px solid gray ;
      margin-top: 50px;
    }


.nothinghead {}
 
