@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;

  background-image: url('headphonecat.jpg');
  background-size: cover;


}

.center {
  text-align: center;
}

.well {
  width: 400px;
  height: 200px;
  display: block;
     margin: auto;
     margin-top: 150px;
}

.funfont {
  font-family: 'Pacifico', cursive;
}



.newbox {
    background-color: white;
    width: 700px;
    padding: 10px;
    border: 5px solid gray;
    display: block;
       margin: auto;
       margin-bottom: 50px;
}
