<%= render :partial => "layouts/navbar" %>
<div class="container">
  <div class="newbox">
    <% @playlist.podcasts.each do |podcast| %>

    <h2 class="funfont center"><%= podcast.ep_title %></h2> <br>
    <h3 class="funfont center"><%= link_to "Listen Now", podcast.url, :class => "html5" %> </h3>
    <div class="center"><%= button_to "Remove Podcast From Playlist", podcast_path(podcast.id), method: :delete, class: "btn btn-secondary", data: { confirm: 'Are you sure?' }  %></div>

    <hr>
    <% end %>

  </div>
</div>
