
<div class="container">
  <div class="newbox">
    <% @playlist.podcasts.each do |podcast| %>

    <%= podcast.ep_title %><br>
    <%= podcast.url %><br>
    <%= button_to "Remove Podcast From Playlist", podcast_path(podcast.id), method: :delete, data: { confirm: 'Are you sure?' }  %><br>

    <% end %>
    <%= link_to "Search Again", podcasts_search_path, class: "btn btn-primary" %>
  </div>
</div>
