<nav class="col-md-12 navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Ear Buddies</a>
    <ul class="nav navbar-nav">
      <li><%= link_to "All Your Playlists", playlists_path %></li>
      <li><%= link_to "Your Current Playlist is #{current_playlist.subject}", playlists_path unless current_playlist == nil %></li>

      <!-- #unless @playlist == nil -->
      <li><%= link_to "Search", podcasts_search_path %></li>
      <li><%= link_to "Logout", logout_path%></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
